 body{
	margin: 0px;
}
.header{
	height: 108px;
}
.loginbar{
	background: #2D3E50;
	color: #ffffff;
	height: 28px;
}
.loginbar-left{
	display: inline-block;
	width: 70%;
	text-align: center;
	float: left;
}
.loginbar-left span span{
    color: forestgreen;
    border: none;
    padding: 5px 15px;
}
.loginbar-left span, .loginbar-right i{
	padding: 5px 15px;
	border-right: 1px solid #000000;
}
.loginbar-right{
	display: inline-block;
	width: 30%;
}
.loginbar-right i:first-child{
	border-left: 1px solid #000000;
}
.menubar-right ul li{
	display:inline;
	padding-right:10px;
}
.menubar-right ul li:hover{
	color:green;
}
.menubar{
	width: 80%;
	margin: 0px auto;
}
.menubar-left{
    width: 30%;
    display: inline-block;
	/*float: left;*/
}
.menubar-right{
	display: inline-block;
	margin-top: 15px;
	float: right;
}
.menubar-left h1 span{
	color:#35C2A0
}
.fa-search{
	border-radius: 50%;
	border: 1px solid #000000;
	padding: 5px;
}
.banner{
	background-image: url("https://www.ritchievink.com/img/post-12-ga-bridge/cb2.jpg");
	height:369px;
	background-size:cover;
	padding-top: 154px;
}
.banner-button{
	width: 25%;
	margin: 0px auto;
}	
.banner-text{
	text-align:center;
	color: #ffffff;
}
button{
	border: 2px solid #ffffff;
	background: transparent;
	color: #FFFFFF;
	font-weight: bold;
	padding: 10px 25px;
	margin-right: 10px;
	border-radius: 4px;
	cursor: pointer;
}
button:hover{
	background:green;
	border: 2px solid green;
}
.destination-chooser{
	background: #2D3E50;
    display: inline-flex;
    width: 100%;
}
.chooser-label{
	width: 30%;
    display: inline-block;
    color: white;
    text-align: center;
}
.chooser-label span{
    text-align: center;
}
.destination-chooser .chooser-label span p > *{
	text-align: center;
}
.chooser-date{
	display: inline-flex;
    margin-left: 40px;
    margin-top: 31px;
}
.destination-chooser .chooser-date form span{
    padding-right: 15px;
    padding-left: 15px;
    color: #ffffff;
}
input[type="button"]{
    border: 2px solid #ffffff;
	background: transparent;
	color: #FFFFFF;
	font-weight: bold;
	padding: 10px 25px;
	margin-right: 10px;
    margin-left: 15px;
	border-radius: 4px;
	cursor: pointer; 
}
input[type="button"]:hover{
    background:green;
	border: 2px solid green;
}
input[type="search"]{
    height: 35px;
}
input[type="date"]{
    height: 35px;
}
.image-scroll{
    margin-bottom: 90px;
}
.image-scroll .image-heading{
    text-align: center;
}
.image-scroll .images{
    display: flex;
}
.image-scroll .images .frame{
    margin-left: 10px;
    margin-right: 60px;
    margin-top: 10px;
    background-color: darkgray;
    border: 5px solid darkgray;
    }
.image-scroll .images .frame:hover{
    cursor: pointer;
    background: #2D3E50;
    border: 5px solid green;
    color: white;
}
.image-scroll .images .frame img{
    width: 300px;
    height: 300px;
}
.holiday-type{
    background: #2D3E50;
    height: 400px;
}
.holiday-type .backgroud{
    position: absolute;
    background-image: url(https://assets.amrmeetings.com/images/destination-events/live-your-dream/AMRMI18-LVD-hero.jpg);
    height: 400px;
    width: 100%;
    opacity: 0.4;
}
.holiday-type .holiday-menu{
    text-align: center;
}
.holiday-type .holiday-lable{
    text-align: center;
    color: #ffffff;
}
.holiday-type .holiday-menu ul{
    display: inline-flex;
    list-style-type: none;
}
.holiday-type .holiday-menu ul li{
    color: #ffffff;
    margin-right: 30px;
}
.holiday-type .holiday-menu ul li:hover{
    color: green;
}
.holiday-type .holiday-menu ul li .types-lable{
    border-radius: 50%;
    border-style: solid;
    padding: 35px;
    display: flex;
}
.holiday-type .holiday-menu ul li p{
    padding-left: 38px;
    display: flex;
}
.holiday-type .holiday-menu ul li .types-lable .fa{
    font-size: 45px;
    color: #ffffff;
}
.holiday-type .holiday-menu ul li .types-lable .fa:hover{
    color:green;
}
.reviews{
    text-align: center;
    margin-bottom: 90px;
}
.reviews .customer-reviews .comments{
    height: 100px;
    width: 350px;
    display: inline-flex;
    border: solid 3px lightgrey;
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.reviews .customer-reviews .comments:hover{
    border-top-color: green;
}
.reviews .customer-reviews .comments p{
    text-align: left;
}
.site-info{
    background: #2D3E50;
    display: inline-flex;
    justify-content: center;
    width: 100%;
}
.site-info .info-content{
    height: 30%;
    width: 20%;
    color: #ffffff;
    margin: 20px;
    padding: 10px;
}
.site-info .info-content h2{
    color: forestgreen;
}
.site-info .info-content ul{
    padding: 3px;
    list-style: none;
    display: inline-flex;
}
.site-info .info-content ul li{
    border: solid 1px;
    padding: 3px;
    text-align: center;
    margin: 5px;
}
.site-info .info-content p span{
    color: forestgreen;
    border: none;
}
.site-info .info-content p .fa{
    margin-right: 20px;
}
.footer{
    background: #2D3E50;
    text-align: center;
    color: #ffffff;
    padding: 3px;
    border-top: solid .5px;
}
.footer p span:hover{
    color: forestgreen;
}